.section-header {
     text-align: center;
}

.display-container {
     display: flex;
     justify-content: space-evenly;
     /* margin-top: 5%; */
     /* width: 100%; */
}

@media screen and (min-width: 300px) and (max-width: 767px) {
     .display-container {
          flex-direction: column;
          align-items: center;
     }
}

.horizontal-gap {
     margin-left: 1%;
}

.hover-effect:hover {
     color: red;
}