.section-container {
     margin-top: 10px;
}

.flex-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.social-link {
     margin-left: 10px;
     color: rgba(128, 128, 128, 0.883);
}

.social-link:hover {
     font-size: 20px;
}